<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <p><%= `Short URL: ${shortURL}` %></p>
  <form method = 'POST' action = '/urls/<%= shortURL %>'>
    <label for = 'url-field'></label>
    <input id = 'url-field' name = 'newLongURL' style = "width: 300px" placeholder = '<%= urlsDB[shortURL]['website'] %>'>
    <br><button>Update URL</button>
  </form>
  <form method='GET' action='/u/<%= shortURL %>'>
    <button>Go to link</button>
  </form>
  <form method='POST' action='/urls/<%= shortURL %>/delete'>
    <button>Delete URL</button>
  </form>
  <br>
  <form method = 'GET' action = '/urls'>
  <button>Back to Index</button>
  </form>
</body>
</html>