<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <% include ./partials/_body %>
  <p><%= 'Short URL: ' %><a href='/u/<%= shortUrl %>'><%= `${shortUrl}` %></a></p>
  <p>Created on <%= urlDateCreated %></p>
  <p>Number of visits: <%= urlNumberOfVisits %></p>

  <form method='POST' action='/urls/<%= shortUrl %>?_method=PUT'>
    <label for='url-field'>Website</label>
    <input id='url-field' name='longUrl' style="width: 300px" placeholder='<%= longUrl %>'>
    <br>
    <input type="submit" value="Update URL">
  </form>
  <form method='POST' action='/urls/<%= shortUrl %>?_method=DELETE'>
    <input type="submit" value="Delete URL">
  </form>
  <br>
  <a href='/urls'><input type="submit" value="Back to Index"></a>
</body>
</html>
