<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <% if (userId) { %>
    <% include ./partials/_body %>
    <h2>Your Short URLs: </h2>
    <% userUrls.forEach((url) => { %>
      <ul>
        <li><a href='/u/<%= url['shortUrl'] %>'><%= `${url['shortUrl']}` %></a><%= ` - ${url['website']}` %></li>
        <p>Created on <%= url['dateCreated'] %></p>
        <p>Number of visits: <%= url['visitCount'] %></p>
        <a href='/urls/<%= url['shortUrl'] %>'>Edit URL</a>
        <form method='POST' action='/urls/<%= url['shortUrl'] %>?_method=DELETE'>
          <input type="submit" value="Delete URL">
        </form>
      </ul>
    <% }); %>
    <ul>
      <li><a href='/urls/new'>Create a new short link</a></li>
    </ul>
  <% } else { %>
    <h2>Please login</h2>
    <a href='/login'><input type="submit" value="Login"></a>
  <% } %>
</body>
</html>
